
.header{
  background-color: #0f4399;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 0px;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 1000000000;
}

#main-bg{
  width: 100%;
  height: 61rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/imgs-02.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#bg-1{
  width: 100%;
  height: 52rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/somos.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


.nav-3{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:flex-end;
}

.img-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text{
  font-size: 1.6rem;
}

.mont{
  margin-top: 10rem;
}





.logo{
  height: 180px;
}

.navbar-scroll.navbar-fixed-top{
  background: #9e000c;
}
